body {
    background-color: #cf7a7a !important;
}

#cartItems ul {
    padding-left: 0rem;
}

#cartItems ul li {
    list-style: none;
    border-bottom: 1px solid #CCC;
}

#cartItems .cartItems {
    width: 100%;
}

.decremnet {
    margin-left: 15px;
    margin-right: 5px;
}

.increment {
    margin-left: 5px;
}

#discountInput {
    width: 100px;
}